{% extends 'base.html' %}

{% block head %}
<h1>Hello Admin! You are currently viewing all the products</h1>
{% endblock %}

{% block body %}
<div class="maincontainer">
    

    <table>
        <tr>
            <th>
                Batch ID
            </th>
            <th>
                Product Category
            </th>
            <th>
                Blood Type
            </th>
            <th>
                Quantity
            </th>
            <th>
                Added
            </th>
            <th>
               Expiry Date
            </th>
            <th>
                Action
            </th>
        </tr>
        {% for bp in bps %}
            <tr>
                <td>{{ bp.id }}</td>
                <td>{{ bp.category }}</td>
                <td>{{ bp.blood_type }}</td>
                <td>{{ bp.quantity }}</td>
                <td>{{ bp.date_created.date() }}</td>
                <td>{{ bp.expiry_date }}</td>
                <td>
                    <a href='/deleteproduct/{{bp.id}}'>Delete Product</a>
                    <br>
                    <a href=''>Update Product</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    

</div>
<div class="container2">
    <a href='/addproduct'>Add a New Product</a>
</div>

{% endblock %}