{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="maincontainer">
    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Added
            </th>
            <th>
                Action
            </th>
        </tr>
        {% for donor in donors %}
            <tr>
                <td>{{ donor.id }}</td>
                <td>{{ donor.name }}</td>
                <td>{{ donor.email_id }}</td>
                <td>{{ donor.new_date_created.date() }}</td>
                <td>
                    <a href='/deletedonor/{{donor.id}}'>Delete Donor</a>
                    <br>
                </td>
            </tr>
        {% endfor %}
    </table>
    
</div>
{% endblock %}