{% extends 'base.html' %}

{% block head %}
<h1>Hello Admin! You are currently viewing all the Screening Appointments</h1>
{% endblock %}

{% block body %}
<div class="maincontainer">
    <table>
        <tr>
            <th>
                Appointment ID
            </th>
            <th>
                Appointment Time
            </th>
            <!-- <th>
                Appointment Date
            </th> -->
            <th>
                Test Center ID
            </th>
            <th>
                Donor ID
            </th>
            <th>
                Add Screening Results
            </th>
        </tr>

        {% for apps in sc_apps %}
            <tr>
                <td>{{ apps.id }}</td>
                <td>{{ apps.appointment_time }}</td>
                <!-- <td>{{ apps.appointment_date }}</td> -->
                <td>{{ apps.test_center_id }}</td>
                <td>{{ apps.donor_id }}</td>
                <td>
                    <a href='/perform_screening/{{apps.id}}/{{apps.donor_id}}'>Disapprove</a>
                    <br>
                    <a href='/approve_screening/{{apps.id}}/{{apps.donor_id}}'>Approve</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
</div>
{% endblock %}