{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="maincontainer">
    
    <div class="content_sd">
        <h1 style="text-align: center">Book Screening Appointment</h1>
        <div class="form">
            <form action="/screening_donor/{{id}}" method='POST'>
    
                <div class="inputcontainer">
                    <div class="labelstyle">
                        <div class="anothercontainer2">
                            <div class="inside">
                                <label for="time_is">Time:   </label><br>
                            </div>
                            <!-- <div class="inside">
                                <label for="app_date">Date:   </label><br>
                            </div> -->
                           
                        </div>
                    </div>
                    <div class="labelstyle">
                        <div class="anothercontainer">
                            <div class="inside">
                                <input type="datetime-local" name="time_is" id="time_is"><br>
                            </div>
                            <!-- <div class="inside">
                                <input type="date" name="app_date" id="app_date"><br>
                            </div> -->
                          
                        </div>
    
                    </div>
                    
                </div>
                <p style="margin: 90px; color: maroon; text-align: center;">{{error}}</p>
                <input type="submit" value="Submit">
            </form>

        </div>
    </div>

</div>
{% endblock %}